# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Inne
*gradle*
debug*
java
react-settings-plugin
proguard-rules.pro
AndroidManifest.xml